/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
/*normalize*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 50%;
}

body {
	font-family: 'Poppins', sans-serif;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

img {
	width: 100%;
}
/*header*/
#header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: black;
}

header .header__logo a {
	display: flex;
}

header .header__logo img {
	max-width: 25rem;
}


header nav {
	padding-right: 5em;
}

header .menu {
	display: flex;
	gap: 2rem;
}

.menu .menu__link {
	color: #ffff;
	font-weight: 500;
	font-size: 2rem;
}
/*main*/
main {
	background-color: black;
}

main h1 {
	display: flex;
	justify-content: center;
	font-size: 3.5em;
	color: #ffffff;
	padding-top: 1em;
}

main .main__content {
	display: flex;
	color: #ffffff;
    background-color: #08A4BD;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
	font-size: 2rem;
	height: 20rem;
}

main .main__content p {
	text-align: center;
}
/*main form*/
main form {
	display: flex;
	flex-direction: column;
	color: #ffff;
	margin: 2em 15em 3em 15em;
	font-size: 2em;
}

form .form__item {
	height: 2.5em;
	border-radius: 0.3em;
	margin: 1em 0em 1em 0em;
}

form .form__textarea {
	height: 6em;
	margin: 1em 0em 1em 0em;
}

form .form__suscription {
    margin: 0.5em 0em 0.5em 0em;
}

form .form__submit {
	margin-top: 1em;
	max-width: 5em;
}
/*main gallery*/
main .main__gallery {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 75% 25%;
	gap: 2rem;
	margin: 0 auto;
	padding: 10rem;
}

main .main__gallery .gallery__img {
	grid-column: 1 / 7;
}

main .main__gallery .gallery__img2 {
	grid-column: 7 / 13;
}

main .main__gallery .gallery__img3 {
	grid-column: 5 / 9;
	grid-row: 2;
}

main .main__gallery .gallery__img4 {
	grid-column: 9 / 13;
	grid-row: 2;
}

main .main__gallery .gallery__img5 {
	grid-column: 1 / 5;
	grid-row: 2;
}
/*main blog*/
main .main__blog {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 1em;
	padding: 2em 2em 2em 2em;
	color: black;
	background-color: #08A4BD;
}

main .main__blog .blog__post {
    grid-column: 1 / 7;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 20em;
	background-color: #ffffff66;
}

main .main__blog .blog__post2 {
	grid-column: 7 / 13;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 20em;
	background-color: #ffffff66;
}

main .main__blog .blog__post3 {
    grid-column: 1 / 13;
	grid-row: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 20em;
	background-color: #ffffff66;
}
/*footer*/
#footer {
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: #D55672;
}

footer .footer__media {
	display: flex;
	background-color: black;
	border-radius: 1.5rem;
	margin: 1.5rem 0rem 1.5rem 0rem;
    padding: 1rem 1rem 1rem 1rem;
	gap: 2rem;
}

footer .footer__media img {
	max-width: 4rem;
	filter: invert(1);
}
/*responsive*/
@media screen and (max-width: 800px) {
	header {
		flex-direction: column;
		gap: 2rem;
	}

	header nav {
		padding-right: 0rem;
	}

	main .form {
        display: flex;
		flex-direction: column;
		align-items: center;
	}

	main form {
		width: 60%;
		margin: 2em 0em 3em 0em;
	}
}

@media screen and (max-width: 600px) {
	header .menu {
		gap: 1.1em;
	}

	header .menu .menu__link {
		font-size: 1.3em;
	}
	
	main .main__gallery {
		padding: 3em 3em;
		gap: 1em;
	}

	.header__logo img {
		max-height: 8rem;
	}

	main .main__content p {
		font-size: 0.8em;
	}

    footer .footer__media img {
		max-width: 3rem;
	}
}

@media screen and (max-width: 345px) {
	header .menu .menu__link {
		font-size: 1.2em;
	}
		
	main .main__gallery {
		display: flex;
		flex-direction: column;
	}

	img {
		max-width: 30em;
		max-height: 40em;
	}

	.main__gallery .gallery__img {
		display: flex;
		justify-content: center;
	}

	.main__gallery .gallery__img2 {
		display: flex;
		justify-content: center;
	}

	.main__gallery .gallery__img3 {
		display: flex;
		justify-content: center;
	}

	.main__gallery .gallery__img4 {
		display: flex;
		justify-content: center;
	}

	.main__gallery .gallery__img5 {
		display: flex;
		justify-content: center;
	}

	main h1 {
		font-size: 2.7em;
	}

	main .main__content p {
		margin: 0em 0.5em 0em 0.5em;
	}
}


