/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
/*normalize*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	background-color: #000000;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

img {
	width: 100%;
}
/*main*/
#main {
	background-color: #000000;
}

main .main__section {
	height: 13em;
}

main .main__parallax {
	background-image: url(../img/Psicosis.png);
	background-attachment: fixed;
	background-position: start;
	background-repeat: no-repeat;
	background-size: cover;
	height: 85vh;
}
/*main form*/
main form {
	display: flex;
	flex-direction: column;
	gap: 1em;
}
/*footer*/
#footer {
	display: flex;
	background-color: #D55672;
	height: 15vh;
}

#footer section {
	gap: 2em;
}

#footer img {
	max-height: 3em;
	max-width: 3em;
	filter: invert(1);
}

#footer picture {
	display: flex;
	gap: 1em;
}