/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
/*normalize*/
body {
	font-family: 'Poppins', sans-serif;
	background-color: #000000;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}
/*header*/
#header img {
	max-width: 40%;
}

#header .row .menu__link {
	transition: 0.8s;
	border: 0.1em solid #000000;
	color: #ffffff;
}

#header .row .menu__link:hover {
	color: rgb(143, 141, 141);
    border-bottom: 0.1em solid #f7c760;
}
/*main*/
main .main__section {
	height: 30vh;
}

main .main__parallax {
	background-image: url(../img/Psicosis.png);
	background-attachment: fixed;
	background-position: start;
	background-repeat: no-repeat;
	background-size: cover;
	height: 80vh;
}

main form {
	display: flex;
	flex-direction: column;
	gap: 1em;
}
/*footer*/
#footer {
	display: flex;
	background-color: #D55672;
	height: 15vh;
}

#footer section h2 {
	font-size: 90%;
}

#footer section picture{
	display: flex;
	gap: 1%;
}

#footer svg {
	width: 5vw;
	height: 5vh;
	filter: invert(1);
}
/*responsive*/
@media screen and (min-width: 1090px) {
	#header picture {
		max-width: 90%;
	}
}

@media screen and (max-width: 995px) {
	#header ul a {
		font-size: 80%;
	}
}

@media screen and (max-width: 768px) {
	#header nav {
		justify-content: center;
	}
	
	#header picture {
		display: flex;
		justify-content: center;
		max-width: 30vh;
	}
	
	#header picture a {
		display: flex;
		justify-content: center;
	}

	#header img {
		max-width: 100%;
	}
}

@media screen and (max-width: 620px) {
	#header ul a {
		font-size: 60%;
	}
}

@media screen and (max-width: 450px) {
	#main p {
		font-size: 80%;
	}
}
