/*fonts*/
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Quicksand:wght@400;500;700&display=swap);
/*misc*/
/*normalize*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Poppins";
  margin: 0vh 1vw;
  background-color: #000000; }

ul {
  list-style-type: none; }

a {
  text-decoration: none; }

img {
  width: 100%; }

/*partials*/
/*header*/
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0em;
  background-color: #000000;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-right: 1vw;
  margin-left: 1vw;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-right: 0em;
  padding-left: 0em; }
  .nav__logo {
    max-width: 19vw; }
  .nav__img {
    height: 100%;
    border-radius: 0.5em; }
  .nav .menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0em;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-right: 0em;
    margin-left: 0em;
    padding-top: 0em;
    padding-bottom: 0em;
    padding-right: 0em;
    padding-left: 0em; }
    .nav .menu__item {
      margin-top: 0em;
      margin-bottom: 0em;
      margin-right: 0em;
      margin-left: 0em;
      padding-top: 2vh;
      padding-bottom: 2vh;
      padding-right: 1vw;
      padding-left: 1vw; }
    .nav .menu__link {
      font-size: 1.1em;
      color: #ffffff;
      border-color: #000000 !important;
      transition: color 0.7s; }
    .nav .menu__link:hover {
      border-color: #ffffff !important;
      color: #646464; }

/*media querys*/
@media screen and (max-width: 800px) {
  .nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0em; }
    .nav__logo {
      max-width: 35vw; } }

@media screen and (max-width: 650px) {
  .menu .menu__link {
    font-size: 0.9em; } }

@media screen and (max-width: 500px) {
  .nav .menu {
    margin-top: 0em;
    margin-bottom: 0em;
    margin-right: 0em;
    margin-left: 0em;
    padding-top: 0em;
    padding-bottom: 0em;
    padding-right: 0em;
    padding-left: 0em; }
    .nav .menu__link {
      font-size: 0.8em; } }

@media screen and (max-width: 400px) {
  .menu .menu__link {
    font-size: 0.6em; } }

/*main*/
.main {
  color: #ffffff;
  background-color: #08A4BD;
  min-height: 40vh; }
  .main__content {
    margin-top: 0em;
    margin-bottom: 0em;
    margin-right: 0em;
    margin-left: 0em;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-right: 4vw;
    padding-left: 4vw; }
  .main__subtitle, .main__p {
    padding-bottom: 0.5vh;
    font-family: "Quicksand"; }
  .main__p {
    text-align: justify; }

/*footer*/
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0em;
  background-color: #D55672; }
  .footer__subtitle {
    color: #ffffff;
    font-size: 100%; }
  .footer__article {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0em;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-right: 3vw;
    margin-left: 3vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-right: 0em;
    padding-left: 0em; }
    .footer__article .media {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 0.3em;
      background-color: #000000;
      margin-top: 0em;
      margin-bottom: 0em;
      margin-right: 0em;
      margin-left: 0em;
      padding-top: 1vh;
      padding-bottom: 1vh;
      padding-right: 0.5vw;
      padding-left: 0.5vw;
      border-radius: 1em; }
      .footer__article .media__icon {
        width: 4vw;
        height: 5vh;
        color: #ffffff; }

/*media querys*/
@media screen and (max-width: 1000px) {
  .footer .media {
    margin-top: 0em;
    margin-bottom: 0em;
    margin-right: 0em;
    margin-left: 0em;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-right: 1vw;
    padding-left: 1vw; } }

@media screen and (max-width: 900px) {
  .footer .media {
    margin-top: 0em;
    margin-bottom: 0em;
    margin-right: 0em;
    margin-left: 0em;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    padding-right: 1vw;
    padding-left: 1vw; }
    .footer .media__icon {
      width: 5vw;
      height: 6vh; } }

@media screen and (max-width: 700px) {
  .footer .media {
    margin-top: 0em;
    margin-bottom: 0em;
    margin-right: 0em;
    margin-left: 0em;
    padding-top: 0.3vh;
    padding-bottom: 0.3vh;
    padding-right: 1vw;
    padding-left: 1vw; }
    .footer .media__icon {
      width: 6vw;
      height: 7vh; } }

@media screen and (max-width: 600px) {
  .footer .media .media__icon {
    width: 7vw;
    height: 8vh; } }

/*views*/
/*home*/
.carousel {
  margin-top: 2em;
  margin-bottom: 2em;
  margin-right: 4vw;
  margin-left: 4vw;
  padding-top: 0em;
  padding-bottom: 0em;
  padding-right: 0em;
  padding-left: 0em; }

/*media querys*/
@media screen and (max-width: 800px) {
  main .carousel {
    margin-top: 0em;
    margin-bottom: 1.5em; }
  main .main__content iframe {
    width: 90%; } }

/*contacto*/
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  margin-top: 4vh;
  margin-bottom: 4vh;
  margin-right: 2vw;
  margin-left: 2vw;
  padding-top: 0em;
  padding-bottom: 0em;
  padding-right: 0em;
  padding-left: 0em; }
  .contact h1 {
    font-family: "Quicksand"; }
  .contact__form, .contact__form fieldset, .contact__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: normal;
    gap: 0.5em;
    margin-left: 4vw; }
  .contact__item {
    width: 60vw; }
  .contact button {
    width: 5em;
    margin-top: 1vw; }

/*media querys*/
@media screen and (max-width: 570px) {
  main .contact__form, main .contact__form fieldset, .contact__form main fieldset, main .contact__item {
    margin-left: 0em; }
  .contact h1 {
    font-size: 1.5em; } }

@media screen and (max-width: 500px) {
  .contact h1 {
    font-size: 1.2em; } }

/*patologias y tratamientos*/
.pyt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-right: 0em;
  margin-left: 0em;
  padding-top: 4vh;
  padding-bottom: 4vh;
  padding-right: 6vw;
  padding-left: 6vw; }
  .pyt__title, .pyt__subtitle {
    font-family: "Quicksand"; }
  .pyt__subtitle {
    font-size: 1.7em; }
  .pyt__img {
    max-width: 30vw; }

/*media querys*/
@media screen and (max-width: 900px) {
  .pyt .pyt__subtitle {
    font-size: 1.5em; } }

@media screen and (max-width: 800px) {
  main .pyt {
    padding-top: 0em; } }

@media screen and (max-width: 450px) {
  .pyt .pyt__subtitle {
    font-size: 1.4em; } }

/*sobre mi*/
.video, .video__title, .video__p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vh;
  margin-top: 3vh;
  margin-bottom: 3vh;
  margin-right: 0em;
  margin-left: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  padding-right: 0em;
  padding-left: 0em; }
  .video__title {
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-right: 3vw;
    margin-left: 3vw;
    padding-top: 0em;
    padding-bottom: 0em;
    padding-right: 0em;
    padding-left: 0em; }
    .video__title h1 {
      font-family: "Quicksand"; }
  .video__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0em;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-right: 3vw;
    margin-left: 3vw;
    padding-top: 0em;
    padding-bottom: 0em;
    padding-right: 1vw;
    padding-left: 1vw; }
  .video__p {
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-right: 3vw;
    margin-left: 3vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-right: 0em;
    padding-left: 0em; }

/*blog*/
.blog {
  min-height: 50vh;
  align-items: center; }
  .blog h1 {
    color: #ffffff;
    font-family: "Quicksand";
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-right: 2vw;
    margin-left: 2vw;
    padding-top: 0em;
    padding-bottom: 0em;
    padding-right: 0em;
    padding-left: 0em; }
  .blog__content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0em;
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-right: 2vw;
    margin-left: 2vw;
    padding-top: 0em;
    padding-bottom: 0em;
    padding-right: 0em;
    padding-left: 0em; }
    .blog__content img {
      width: 20vw;
      height: 25vh; }
  .blog__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: normal;
    gap: 0em; }
    .blog__item h2, .blog__item p {
      color: #ffffff;
      margin-left: 4vw; }
  .blog__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: normal;
    gap: 0em;
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-right: 2vw;
    margin-left: 2vw;
    padding-top: 0em;
    padding-bottom: 0em;
    padding-right: 0em;
    padding-left: 0em; }

/*media querys*/
@media screen and (max-width: 1200px) {
  .blog__content img {
    width: 30vw; } }

@media screen and (max-width: 765px) {
  .blog__content img {
    width: 40vw; } }

@media screen and (max-width: 700px) {
  .blog .blog__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em; }
  .blog__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0em; } }

@media screen and (max-width: 600px) {
  .blog__content img {
    width: 50vw; } }

@media screen and (max-width: 500px) {
  .blog__content img {
    width: 60vw; } }

@media screen and (max-width: 450px) {
  .blog__content img {
    width: 60vw;
    height: 18vh; } }
