/*footer*/
.footer {
	display: flex;
	justify-content: space-between;
	background-color: #D55672;
	
	&__subtitle {
		color: $primary;
		font-size: 100%;
	}

	&__article {
		display: flex;
		align-items: $center;
		margin: 1vw 3vw;
		gap: 1vw;		
		
		.media {
			display: flex;
			justify-content: $center;
			align-items: $center;

			&__icon {
				max-width: 3em;
				max-height: 3em;
			}	
		}
	}
}