/*footer*/
.footer {
	@include flex(row, space-between, center, 0em);
	background-color: map-get($colors, $key: secondary);
	
	&__subtitle {
		color: map-get($colors, $key: primary);
		font-size: 100%;
	}

	&__article {
		@include flex(row, flex-start, center, 1vw);
		@include space(1vh, 3vw, 1vh, 0em);		
		
		.media {
			@include flex(row, center, center, 0em);

			&__icon {
				max-width: 3em;
				max-height: 3em;
			}	
		}
	}
}