/*header*/
.nav {
	@include flex(row, space-between, center, 0em);
	background-color: map-get($colors, $key: background);
	@include space(0em, 1vw, 0em, 0em);

	&__logo {
		max-width: 20vw;
	}

	&__img {
		height: 100%;
	}

	.menu {
		@include flex(row, flex-start, center, 0em);

		&__item {
			@include space(0em, 0em, 2vh, 1vw);	
		}	

		&__link {
			color: map-get($colors, $key: primary);
			transition: color 0.8s;
		}

		&__link:hover {
			border-bottom: 1em;
			border-color: white;
			color: #4b4848ee; 
		}
	}
}