/*header*/
.nav {
	@include flex(row, space-between, center, 0em);
	background-color: map-get($colors, $key: background);
	@include space(0em, 1vw, 0em, 0em);

	&__logo {
		max-width: 20vw;
	}

	&__img {
		height: 100%;
		border-radius: 0.5em;
	}

	.menu {
		@include flex(row, flex-start, center, 0em);

		&__item {
			@include space(0em, 0em, 2vh, 1vw);	
		}	

		&__link {
			font-size: 1.1em;
			color: map-get($colors, $key: primary);
			border-color: map-get($colors, $key: background) !important;
			transition: color 0.7s;
		}

		&__link:hover {
			border-color: map-get($colors, $key: primary) !important; 
			color: #646464;
		}
	}
}
/*media querys*/
@media screen and (max-width: 800px) {
	.nav {
		@include flex(column, space-between, center, 0em);

		&__logo {
			max-width: 35vw;
		}
	}
}

@media screen and (max-width: 650px) {
	.menu .menu__link {
		font-size: 0.9em;
	}
}

@media screen and (max-width: 500px) {
	.nav .menu {
		@include space(0em, 0em, 0em, 0em);	

		&__link {
			font-size: 0.8em;
		}
	}
}

@media screen and (max-width: 400px) {
	.menu .menu__link {
		font-size: 0.6em;
	}
}