/*main*/
.main {
	color: map-get($colors, $key: primary);
    background-color: map-get($colors, $key: main);
	min-height: 40vh;

    &__content {
		@include space(0em, 0em, 2vh, 4vw);
	}	
	
	&__subtitle {
		padding-bottom: 0.5vh;
		font-family: map-get($fonts, $key: primary);
	}

	&__p {
		@extend .main__subtitle;
		text-align: justify;
	}
}
