/*home*/
.carousel {
	@include space(2em, 4vw, 0em, 0em);
}
/*media querys*/
@media screen and (max-width: 800px) {
	main .carousel {
		margin-top: 0em;
		margin-bottom: 1.5em;
	}

	main .main__content iframe {
		width: 90%;
	}

}
