/*patologias y tratamientos*/
.pyt {
    @include flex(column, center, center, 2vh);
    @include space(0em, 0em, 4vh, 6vw);

    &__title {
        font-family: map-get($fonts, $key: primary);
    }

    &__subtitle {
        @extend .pyt__title;
        font-size: 1.7em;
    }

    &__img {
        max-width: 30vw;
    }
}