/*normalize*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: map-get($fonts, $key: secondary);
	margin: 0vh 1vw;
	background-color: map-get($colors, $key: background);
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

img {
	width: 100%;
}
